{% extends 'base.html'%} 
{% import 'macros.html' as macro %} 
{% block content%}
<div class="container">
    <div class="row home-blogs">
        
        <div class="col-md-9 all-blogs">
        <h2 class="title-blogs">Posted Blogs</h2>
        {{macro.displayAllBlogs(all_blogs)}}
        </div>

        <!-- <div class="col-md-3">
            <h4 class="text-left">
                <a class="btn btn-primary" href="/add/category">
                <span class="glyphicon glyphicon-plus add" aria-hidden="true">Categories</span></a>  
            </h4>
            <ol class="category-list">
            {{ macro.displayCategoryList(categories) }}
            </ol>
        </div> -->
    </div>
</div>
{% endblock %} 